<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>youjoting</string>
		<key>detail</key>
		<string>抢占一楼。您的想法好棒啊！我想投资您的项目！请务必联系我！</string>
		<key>imgName</key>
		<string></string>
		<key>account</key>
		<string>youjoting</string>
	</dict>
</array>
</plist>
